/*
=============== 
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/*
=============== 
Imports 
===============
*/

@import url("./variables.css");

/*
=============== 
Remove animations for accessibility 
===============
*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
=============== 
Global Styles
===============
*/

/*
=============== 
Topbar
===============
*/

#topbar {
  background: var(--off-black-clr);
}

.topbar {
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem 1.5rem;
}

.last-column {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.top-link {
  color: white;
  transition: var(--transition);
}

.top-link:hover {
  color: var(--second-clr-dark);
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icon {
  color: var(--white-clr);
  font-size: 2rem;
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--second-clr-dark);
}

.top-search input {
  outline: none;
  border: 2px solid var(--white-clr);
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  font: inherit;
  margin-left: 0.3rem;
}

.top-search input:focus-visible {
  border: 2px solid var(--second-clr-dark);
}

.top-search input::placeholder {
  font: inherit;
}

@media screen and (max-width: 650px) {
  .top-search {
    display: none;
  }
}

/*
=============== 
Navbar
===============
*/

.navbar {
  width: 100%;
  background: var(--white-clr);
  box-shadow: var(--dark-shadow);
  z-index: 999;
}

.nav-logo {
  width: 7rem;
}

.nav-center {
  width: min(90dvw, 1180px);
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-toggle {
  background: transparent;
  border: transparent;
  font-size: 2rem;
  color: var(--first-clr-dark);
  cursor: pointer;
  transition: var(--transition);
}

.nav-toggle:hover {
  transform: scale(1.2);
  color: var(--second-clr-dark);
}

.nav-link {
  color: var(--first-clr-dark);
  text-transform: capitalize;
  padding: 1rem 2rem;
  font-weight: 600;
  display: block;
  transition: var(--transition);
}

.nav-link:hover {
  color: var(--first-clr-dark);
  background: var(--second-clr-dark);
  padding-left: 2.5rem;
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 330px;
}

.orders {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.order-btn {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
}

#menu-search {
  display: block;
}

#menu-search input {
  border-color: var(--off-black-clr);
  transition: var(--transition);
}

#menu-search input:focus-visible {
  border: 2px solid var(--second-clr-dark);
}

#menu-search .social-icon {
  color: black;
}

#menu-search .social-icon:hover {
  color: var(--second-clr-dark);
}

@media screen and (min-width: 800px) {
  .nav-logo {
    width: 8rem;
  }

  .nav-toggle {
    display: none;
  }

  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav-links {
    height: auto;
    display: flex;
    align-items: center;
  }

  .nav-header {
    padding: 1.5rem 1rem;
  }

  .nav-link {
    padding: 0 1rem;
    color: var(--first-clr-dark);
  }

  .nav-link:hover {
    padding: 0 1rem;
    color: var(--second-clr-dark);
    background: transparent;
  }

  .orders {
    padding: 0;
    flex-direction: row;
    margin-left: 1rem;
  }

  #menu-search {
    display: none;
  }
}

/*
=============== 
Hero
===============
*/

.hero {
  min-height: 87vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../images/home-hero-bg.jpg") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner {
  text-align: center;
  color: var(--white-clr);
  padding: 0 3rem;
}

.hero-banner h1 {
  text-transform: uppercase;
  color: var(--second-clr-dark);
  text-shadow: var(--text-shadow);
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.1;
}

.hero-banner p {
  max-width: 60ch;
  margin: 2rem auto;
  color: var(--clr-white);
  font-size: 1.8rem;
  font-weight: 700;
  text-shadow: var(--text-shadow-mini);
}

.hero-btn {
  padding: 1rem 1.8rem;
  font-size: 1.8rem;
  background: var(--white-clr);
  color: var(--first-clr-dark);
  border-color: var(--white-clr);
}

.hero-btn:hover {
  background: var(--first-clr-dark);
  color: var(--second-clr-dark);
  border-color: var(--first-clr-dark);
}

@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
      url("../images/home-hero-bg.jpg") no-repeat center/cover;
    background-attachment: fixed;
    min-height: 90vh;
    justify-content: flex-start;
  }

  .hero-banner {
    padding: 0;
    text-align: left;
  }

  .hero-banner h1 {
    max-width: 13ch;
  }

  .hero-banner p {
    max-width: 45rem;
    text-align: left;
    margin: 2rem 0;
  }
}

/*
=============== 
Featured
===============
*/

.featured {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.featured-item {
  border: 1px solid var(--light-grey);
  border-bottom: 2px solid var(--light-grey);
  border-top: none;
  padding: 6rem 4rem;
  transition: var(--transition);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.featured-item:hover {
  background: var(--second-clr-dark);
}

.featured-item:hover .img-featured {
  transform: scale(1.08);
  rotate: 2deg;
}

.featured-item:hover .featured-title {
  color: var(--white-clr);
}

.featured-item:hover .featured-btn {
  background: var(--white-clr);
  border-color: transparent;
}

.featured-item:hover .featured-btn:hover {
  background: var(--first-clr-light);
}

.img-featured {
  transition: var(--transition);
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 20rem;
}

.featured-title {
  transition: var(--transition);
  margin-bottom: 2rem;
}

.featured-btn {
  align-self: center;
}

@media screen and (min-width: 700px) {
  .featured {
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
  }
}
@media screen and (min-width: 1000px) {
  .featured {
    grid-template-columns: repeat(3, minmax(280px, 1fr));
  }
}

@media screen and (min-width: 1600px) {
  .featured {
    grid-template-columns: repeat(6, minmax(260px, 1fr));
  }

  .featured-item {
    padding: 10rem 4rem;
  }

  .img-featured {
    height: 16rem;
    width: auto;
  }
}

/*
=============== 
About
===============
*/

#about,
#numbers,
#testimonial {
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url("../images/about-background.jpg") fixed;
}

.about {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
}

.about-img-container {
  margin: 0 auto;
}

.about-img {
  width: 25rem;
}

.section-intro {
  color: var(--first-clr-dark);
}

.section-title {
  color: var(--text-clr);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
}

.about-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
}

.about-icon {
  color: var(--first-clr-light);
  font-size: 3rem;
  margin-right: 1.5rem;
}

.about-text {
  font-size: 1.8rem;
  line-height: 1;
  color: var(--text-clr);
}

@media screen and (min-width: 992px) {
  .about {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .about-img-container,
  .about-content {
    width: 45%;
  }

  .about-img-container {
    margin: 0 auto;
  }

  .about-img {
    margin: 0 auto;
    width: 35rem;
  }

  .section-title {
    font-size: 5rem;
  }

  .about-items {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .about-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 30%;
  }
}

/*
=============== 
Featured Cards
===============
*/

.cards-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  padding: 4.5rem 2.5rem;
  min-height: 50dvh;
  background: url("../images/cards-images/hot-dog-card-bg.jpg") center/cover
    no-repeat;
}

.card-02 {
  background: url("../images/cards-images/onion-ring-card-bg.jpg") center/cover
    no-repeat;
}

.card-03 {
  background: url("../images/cards-images/pizza-card-bg.jpg") center/cover
    no-repeat;
}

.card-title {
  color: var(--white-clr);
  text-transform: uppercase;
  text-shadow: var(--text-shadow-mini);
  font-weight: 800;
  font-size: 4.5rem;
}

.card-text {
  color: var(--white-clr);
  text-transform: uppercase;
}

.card-price {
  color: var(--second-clr-dark);
  font-weight: 800;
  font-size: 3.5rem;
}

.card-btn {
  background: var(--white-clr);
  border-color: var(--white-clr);
}

.card-btn:hover {
  border-color: var(--second-clr-dark);
  background: var(--second-clr-dark);
  color: var(--first-clr-dark);
}

@media screen and (min-width: 850px) {
  .cards-box {
    flex-direction: row;
  }

  .card {
    width: 33%;
  }
}

/*
=============== 
Best Selling Dishes
===============
*/

.dishes-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  margin-top: 4rem;
}

.dish-item {
  padding: 6rem 3rem;
  box-shadow: var(--box-shadow-light);
  border-radius: 1rem;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
}

.dish-item:hover {
  box-shadow: var(--box-shadow-dark);
}

.dish-item:hover .dish-img {
  transform: scale(1.105);
  rotate: 2deg;
}

.dish-item:hover .dish-title {
  color: var(--third-clr-dark);
}

.dish-item:hover .dish-cart-icon {
  background: var(--third-clr-dark);
}

.dish-item:hover .dish-title-icon {
  color: var(--first-clr-dark);
}

.dish-img-container {
  height: 20dvh;
  display: flex;
  align-items: end;
}

.dish-img {
  width: 20rem;
  margin: 0 auto;
  transition: var(--transition);
}

.dish-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.5rem 0 1.5rem;
}

.dish-title {
  color: var(--text-clr);
  line-height: 1;
  transition: var(--transition);
  margin: 0;
}

.dish-title-icon {
  color: var(--second-clr-dark);
  transition: var(--transition);
  font-size: 2rem;
}

.dish-ratings {
  color: var(--second-clr-dark);
  margin-bottom: 1rem;
}

.price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.dish-price {
  color: var(--first-clr-dark);
  font-weight: 800;
  font-size: 2.5rem;
  margin: 0;
}

.dish-cart-icon {
  background: var(--first-clr-dark);
  color: var(--white-clr);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  transition: var(--transition);
}

.dish-cart-icon:hover {
  background: var(--second-clr-dark) !important;
  color: var(--first-clr-dark);
}

@media screen and (min-width: 700px) {
  .dishes-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .dish-title {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1000px) {
  .dishes-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
@media screen and (min-width: 1300px) {
  .dishes-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/*
=============== 
Banner
===============
*/

#banner {
  background: url("../images/banner-bg.jpg") no-repeat center/cover;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8rem;
}

.banner-img-container {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

.banner-content {
  text-align: center;
}

.banner h2 {
  color: var(--second-clr-dark);
}

.banner p {
  color: var(--white-clr);
}

.white-span {
  color: var(--white-clr);
}

@media screen and (min-width: 850px) {
  .banner {
    flex-wrap: nowrap;
    min-height: 80dvh;
    justify-content: space-around;
  }

  .banner-content {
    width: 30%;
  }

  .banner-img-container {
    width: 40%;
  }
}

/*
=============== 
Numbers
===============
*/

/*
=============== 
Testimonial
===============
*/

.single-testimonial {
  text-align: center;
}

.testimonial-seal {
  width: 10rem;
  margin: 0 auto 1.5rem;
}

.testimonial-txt {
  font-weight: 700;
  opacity: 0.7;
}

.testimonial-name {
  color: var(--first-clr-dark);
  text-transform: uppercase;
  font-size: 1.9rem;
}

.position {
  color: var(--text-clr);
}

.img-profile {
  border: 4px solid var(--second-clr-dark);
  border-radius: 100%;
  width: 12rem;
  margin: 1.5rem auto 0;
}

/*
=============== 
Boneco
===============
*/

/*
=============== 
Footer
===============
*/

#footer {
  background: var(--second-clr-dark);
}

.footer {
  text-align: center;
  padding: 4rem 2rem;
}

.footer-link {
  color: var(--white-clr);
  text-transform: capitalize;
  padding: 1rem 2rem;
  display: inline-block;
  transition: var(--transition);
}

.footer-link:hover {
  color: var(--first-clr-dark);
}

.footer-icons {
  margin: 2.5rem 0;
  display: flex;
  justify-content: center;
}

.footer-icon {
  color: var(--white-clr);
  margin: 0 1rem;
  font-size: 2.5rem;
  transition: var(--transition);
}

.footer-icon:hover {
  color: var(--first-clr-dark);
  transform: scale(1.2);
}

.copyright {
  color: var(--white-clr);
}

@media screen and (min-width: 768px) {
  .footer-links {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

.credits {
  background: var(--text-clr);
  padding: 1.5rem 0;
  text-align: center;
}

.copyright {
  color: var(--white-clr);
  font-size: 1.5rem;
}

.dev-link {
  background: var(--text-clr);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 0.95rem 1rem;
}

.dev-link a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--first-clr-light);
  transition: var(--transition);
}

.dev-link a:hover {
  color: var(--white-clr);
}
